<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>修改问题</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/myCss.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    </head>
<body>
<div th:insert="~{navBar::navBar}"></div>

<div class="container-fluid mainCss">
    <div class="row">
        <form method="post" action="/profile/issueUpdate">
            <div class="col-xs-12 col-md-8">
                <div>

                    <h3><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;<strong>编辑</strong></span></h3>
                </div>
                <hr>
                <div>
                    <h4>
                        <strong>问题标题</strong><br>
                    </h4>
                    <input type="text" class="form-control" name="title" th:value="${session.questionByIssueId.getTitle()}">
                </div>
                <input class="hidden" name="id" id="id"  th:value="${session.questionByIssueId.getId()}">
                <br>
                <div>
                    <textarea class="form-control" rows="9" name="description" style="resize:none" placeholder="问题详述..." th:text="${session.questionByIssueId.getDescription()}"></textarea>
                </div><br>
                <div>
                    <button type="submit" class="btn btn-info " >提交</button>
                    <span>
                        <!--上传功能暂时禁用-->
                        <button type="button" class="btn btn-default btn disabled">上传附件</button>
                        <span class="attachmentFont">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;允许格式：....</span>
                    </span>
                </div><br>
            </div>
        </form>

        <div class="col-md-4"><br><br><br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><strong>&nbsp;问题发起指南</strong></h4>

                    <ul class="list-group">

                        <div class="alert alert-info" role="alert">
                            <strong>问题标题：</strong><br>
                            请用精简的语言描述您发布的问题，不超过25字
                        </div>

                        <div class="alert alert-info" role="alert">
                            <strong>问题补充：</strong><br>
                            详细补充您的问题内容，并确保问题描述清晰直观,并提供一些相关的资料
                            <ul>
                                <li >服务器运行环境信息</li>
                                <li>软件版本</li>
                                <li>问题发生的上下文信息</li>
                                <li>可以完整复现问题的代码(如可直接运行于Kibana Console的复现流程)</li>
                                <li>注意阅读楼式友好，代码和异常信息请用代码标签格式化张贴</li>
                            </ul>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <strong>选择标签：</strong><br>
                            选择一个或者多个合适的标签,不超过10个字<br><br>
                            <strong>关于积分：</strong><br>
                            发起一个问题会消耗您20个积分,每多一个回复你将获得5个积分的奖励,为了您的利益,在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能
                        </div>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>


</body>
</html>
