<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/favicon.ico">

    <title>修改问题</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="../../static/css/myCss.css">


    <script>
        /*地址参考:  /profile/issueEdit/95  */

        /*获取地址*/
        var url = window.location.pathname;
        var uriLis = url.split('/');
        var id = uriLis.pop();  /*获取id*/

        function firm() {
            //利用对话框返回的值 （true 或者 false）
            if (confirm("你确定删除吗？")) {
                alert("昔我往矣，杨柳依依");
                window.location.replace("/profile/issueEdit/delete/"+id);
            }
            else {
                alert("明智之举");
            }
        }

        /*检查是否被标记删除*/
        function isDeleted() {
            if ($("#isDelete").is(':checked')) {
                $("#file").attr("type","file");
                $("#hiddenInput").attr("value","on");
                alert("删除的图片无法恢复,谨慎操作!!");
            }else {
                $("#file").attr("type","hidden");
                $("#hiddenInput").attr("value","off");
                $("#file").val("");
                // alert("不删除")
            }
        }

        /*验证上传图片*/
        function validate_img(ele){
            //alert((ele.files[0].size/(1024*1024)).toFixed(2));    /*返回 KB，保留小数点后两位*/
            var file = ele.value;

            if(!/.(gif|jpg|jpeg|png|GIF|JPG|JPEG|PNG)$/.test(file)){
                alert("图片类型必须为gif,jpeg,jpg,png,bmp");
                $("#file").val("");
                $("#submit").attr("disabled",true);
                return false;
            }else{
                // alert((ele.files[0].size).toFixed(2));    /*返回Byte(B),保留小数点后两位*/
                if(((ele.files[0].size).toFixed(2))>=(2*1024*1024)){
                    alert("请上传小于2M的图片");
                    $("#file").val("");
                    $("#submit").attr("disabled",true);
                    return false;
                }
            }
            $("#submit").removeAttr("disable");
            return true;
            // alert("图片通过");
        }
    </script>
</head>
<body>
<div th:insert="~{navBar::navBar}"></div>

<div class="container-fluid mainCss">
    <div class="row">

        <div class="col-md-8">
            <form method="post" action="/profile/issueUpdate" enctype="multipart/form-data">
                <div>

                    <h3><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;<strong>编辑</strong></span></h3>
                </div>
                <hr>
                <div>
                    <h4>
                        <strong>问题标题</strong><br>
                    </h4>
                    <input type="text" class="form-control" name="title"  placeholder="你的问题..." th:value="${issue.getTitle()}">
                </div>
                <input class="hidden" name="id" id="id"  th:value="${issue.getId()}">
                <br>
                <div>
                    <textarea class="form-control" rows="9" name="description" style="resize:none" placeholder="问题详述..." th:text="${issue.getDescription()}"></textarea>
                </div><br>
                <div th:if="${imgAddr != null}">
                    <a th:href = "'/upload/'+${imgAddr}" target="_blank">查看图片</a>
                    删除图片<input  type="checkbox" id="isDelete" name="isDelete" onchange="Javascript:isDeleted()"/>
                    <input  type="hidden" class="upload" id="file" name="upload" onchange="Javascript:validate_img(this);">
                </div>
                <div th:if="${imgAddr == null}">
                    上传图片<input  type="file" class="upload" name="upload" onchange="Javascript:validate_img(this);">
                </div>
                <span class="attachmentFont">允许格式：jpg,png,gif；附件大小上限2M</span>
                <input type="hidden" id="hiddenInput" name="flag" value="off">
                <br>
                <div>
                    <div  >
                        <span class="btnn" id="addTag_btn">
                            <span class="glyphicon glyphicon-plus addTag"></span>
                            <span class="addTag" >添加一个好看但是没用的标签&nbsp;&nbsp;</span>
                            <span id="addTag_span" style="display: none" class="tagLocation"></span>
                        </span>
                        <div id="tags" class="tagLocation" style="display: none" >
                            <!--                            <input class="input-group"><br>-->
                            <span id="tag1"><button type="button" class="btn-xs btn-info" >老铁</button></span>
                            <span id="tag2"><button type="button" class="btn-xs btn-info" >双击</button></span>
                            <span id="tag3"><button type="button" class="btn-xs btn-info" >666</button></span>
                            <span id="tag4"><button type="button" class="btn-xs btn-info" >没毛病</button></span>
                        </div>

                    </div>
                    <br>
                    <!--                    <input type="text" class="form-control" placeholder="标签..."  id="tag" name="tag"/><br>-->


                </div><br>
                <div class="nobr">
                    <button type="submit" class="btn btn-info " >提交</button>
                    <button type="button" id="deleteIssue" onclick = "firm()" class="btn btn-danger pull-right" >删除问题</button>
                    <!--隐藏上传按钮-->
<!--                    <span>-->
<!--                        &lt;!&ndash;上传功能暂时禁用&ndash;&gt;-->
<!--                        <button type="button" class="btn btn-default btn disabled">上传附件</button>-->
<!--                        <span class="attachmentFont">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;允许格式：....</span>-->
<!--                    </span>-->
                </div>

                <br>
            </form>
        </div>
        <div class="col-md-4"><br><br><br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><strong>&nbsp;问题编辑指南</strong></h4>

                    <ul class="list-group">

                        <div class="alert alert-info" role="alert">
                            <strong>问题修改：</strong><br>
                            服务器不会保存历史编辑内容
                            问题删除功能已增加！
                            行图片更换/删除功能已增加！
                            标签功能完善中...
                        </div>

                        <!--<div class="alert alert-info" role="alert">
                            <strong>问题补充：</strong><br>
                            详细补充您的问题内容，并确保问题描述清晰直观,并提供一些相关的资料
                            <ul>
                                <li >服务器运行环境信息</li>
                                <li>软件版本</li>
                                <li>问题发生的上下文信息</li>
                                <li>可以完整复现问题的代码(如可直接运行于Kibana Console的复现流程)</li>
                                <li>注意阅读楼式友好，代码和异常信息请用代码标签格式化张贴</li>
                            </ul>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <strong>选择标签：</strong><br>
                            选择一个或者多个合适的标签,不超过10个字<br><br>
                            <strong>关于积分：</strong><br>
                            发起一个问题会消耗您20个积分,每多一个回复你将获得5个积分的奖励,为了您的利益,在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能
                        </div>-->
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>


<script>
    /*tag栏获取焦点显示tags，失去焦点隐藏tags*/
    var addTagBtn = $("#addTag_btn");
    var tags = $("#tags");
    addTagBtn.click(function(){
        tags.toggle("normal");
        $("#addTag_span").toggle();
    });

    var tag1 = $("#tag1");
    tag1.click(function () {
        $("#addTag_span").append(tag1.clone(),"&nbsp;");
        tag1.hide("fast");

    });
    var tag2 = $("#tag2");
    tag2.click(function () {
        $("#addTag_span").append(tag2.clone(),"&nbsp;");
        tag2.hide("fast");
    });
    var tag3 = $("#tag3");
    tag3.click(function () {
        $("#addTag_span").append(tag3.clone(),"&nbsp;");
        tag3.hide("fast");
    });
    var tag4 = $("#tag4");
    tag4.click(function () {
        $("#addTag_span").append(tag4.clone(),"&nbsp;");
        tag4.hide("fast");
    });



</script>

</body>
</html>
