<!--原版head，因为无法响应式布局所以注释-->
<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    &lt;!&ndash;加载bootstrap css&js资源&ndash;&gt;
    &lt;!&ndash;出现问题:
        1.无法加载静态资源; 解决方案:配置yml 参考:https://blog.csdn.net/LiuKingJia/article/details/80180122
        2.无法加载下拉框,开发者模式console出现 Bootstrap's JavaScript requires jQuery; 解决方案:加载jquery.js,并置于.css和bootstrap.js前&ndash;&gt;
    <script src = "../static/js/jquery.js"></script>
    <script src = "../static/js/bootstrap.js"></script>
    <link rel = "stylesheet" href = "../static/css/bootstrap.css">
    <link rel = "stylesheet" href = "../static/css/bootstrap-theme.css">
</head>-->

<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--自定义css样式-->
    <link rel="stylesheet" href="../static/css/myCss.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <!--    <link href="navbar.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>



</head>

<body>
<!--使用thymeleaf的引入-->
<div th:insert="~{navBar::navBar}"></div>

<div class="container-fluid mainCss">
    <div class="row">
        <div class="col-xs-8 col-md-8" >
            <div>
                <a href="https://github.com/login/oauth/authorize?client_id=Iv1.2299807260a02e0e&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>
            </div>

        </div>
    </div>
</div>







</body>
</html>

