<!--原版head，因为无法响应式布局所以注释-->
<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
&lt;!&ndash;编写发起问题的页面&ndash;&gt;
    <script src = "../static/js/jquery.js"></script>
    <script src = "../static/js/bootstrap.js"></script>
    <link rel = "stylesheet" href = "../static/css/bootstrap.css">
    <link rel = "stylesheet" href = "../static/css/bootstrap-theme.css">
</head>-->


<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>发起新问题</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--自定义css样式-->
    <link rel="stylesheet" href="../static/css/myCss.css">


    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--富文本-->
<!--    <script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>-->

</head>
<body>
<!--使用thymeleaf的引入-->
<div th:insert="~{navBar::navBar}"></div>

<!--.container-fluid：按照百分比定义宽度；.container：固定宽度-->
<div class="container-fluid mainCss">
    <div class="row">
        <form method="post" action="/profile/questionSubmit">
            <div class="col-xs-12 col-md-8">
                <div>
                    <h3><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;<strong>发起</strong></span></h3>
                </div>
                <hr>
                <div>
                    <h4>
                        <strong>问题标题</strong><br>
                    </h4>
                                                                                <!--name用于参数传回后端@RequestParam-->
                    <input type="text" class="form-control" placeholder="你的问题..."  name="title">
                </div><br>
                <!--富文本，获取内容麻烦，省略-->
                <!--                <div id="editor">
                    <p>初试内容</p>
                </div>      -->

                <textarea id="textarea"  class="form-control" rows="9" placeholder="问题描述..."  name="description" style="resize:none" th:placeholder="问题详述..."></textarea><br>
                <div>
                    <button type="submit" class="btn btn-info " >提交</button>
                    <span>
                        <!--上传功能暂时禁用-->
                        <button type="button" class="btn btn-default btn disabled">上传附件</button>
                        <span class="attachmentFont">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;允许格式：....</span>
                    </span>
                </div><br>
                <div>
                    <div  >
                        <span class="btnn" id="addTag_btn">
                            <span class="glyphicon glyphicon-plus addTag"></span>
                            <span class="addTag" >添加一个好看但是没用的标签&nbsp;&nbsp;</span>
                            <span id="addTag_span" style="display: none" class="tagLocation"></span>
                        </span>
                        <div id="tags" class="tagLocation" style="display: none" >
<!--                            <input class="input-group"><br>-->
                            <span id="tag1"><button type="button" class="btn-xs btn-info" >老铁</button></span>
                            <span id="tag2"><button type="button" class="btn-xs btn-info" >双击</button></span>
                            <span id="tag3"><button type="button" class="btn-xs btn-info" >666</button></span>
                            <span id="tag4"><button type="button" class="btn-xs btn-info" >没毛病</button></span>
                        </div>

                    </div>
                    <br>
<!--                    <input type="text" class="form-control" placeholder="标签..."  id="tag" name="tag"/><br>-->


                </div><br>

            </div></form>


        <div class="col-md-4"> <!--style="background:burlywood; color:#FFF"--><br><br><br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><strong>&nbsp;问题发起指南</strong></h4>

                    <ul class="list-group">

                        <div class="alert alert-info" role="alert">
                            <strong>问题标题：</strong><br>
                            请用精简的语言描述您发布的问题，不超过25字
                        </div>

                        <div class="alert alert-info" role="alert">
                            <strong>问题补充：</strong><br>
                            详细补充您的问题内容，并确保问题描述清晰直观,并提供一些相关的资料
                            <ul>
                                <li >服务器运行环境信息</li>
                                <li>软件版本</li>
                                <li>问题发生的上下文信息</li>
                                <li>可以完整复现问题的代码(如可直接运行于Kibana Console的复现流程)</li>
                                <li>注意阅读楼式友好，代码和异常信息请用代码标签格式化张贴</li>
                            </ul>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <strong>选择标签：</strong><br>
                            选择一个或者多个合适的标签,不超过10个字<br><br>
                            <strong>关于积分：</strong><br>
                            发起一个问题会消耗您20个积分,每多一个回复你将获得5个积分的奖励,为了您的利益,在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能
                        </div>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>


<script >

    /*tag栏获取焦点显示tags，失去焦点隐藏tags*/
    var addTagBtn = $("#addTag_btn");
    var tags = $("#tags");
    addTagBtn.click(function(){
        tags.toggle("normal");
        $("#addTag_span").toggle();
    });

    var tag1 = $("#tag1");
    tag1.click(function () {
        $("#addTag_span").append(tag1.clone(),"&nbsp;");
        tag1.hide("fast");

        });
    var tag2 = $("#tag2");
    tag2.click(function () {
        $("#addTag_span").append(tag2.clone(),"&nbsp;");
        tag2.hide("fast");
    });
    var tag3 = $("#tag3");
    tag3.click(function () {
        $("#addTag_span").append(tag3.clone(),"&nbsp;");
        tag3.hide("fast");
    });
    var tag4 = $("#tag4");
    tag4.click(function () {
        $("#addTag_span").append(tag4.clone(),"&nbsp;");
        tag4.hide("fast");
    });


</script>

</body>
</html>
