<!--原版head，因为无法响应式布局所以注释-->
<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
&lt;!&ndash;编写发起问题的页面&ndash;&gt;
    <script src = "../static/js/jquery.js"></script>
    <script src = "../static/js/bootstrap.js"></script>
    <link rel = "stylesheet" href = "../static/css/bootstrap.css">
    <link rel = "stylesheet" href = "../static/css/bootstrap-theme.css">
</head>-->


<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--    <link href="navbar.css" rel="stylesheet">-->
    <!---->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--自定义css样式-->
    <link rel="stylesheet" href="../static/css/myCss.css">

    </head>
<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">主页名称</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索话题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.communityUser == null }">
                        <a href="https://github.com/login/oauth/authorize?client_id=Iv1.2299807260a02e0e&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>
                    </li>
                    <li class="dropdown" th:if="${session.communityUser != null }">
                        <!--关于session.user.getLogin()获取用户账户,如果无法获取会出现404页面;此处get方法基于JavaBean-->
                        <!--之后问题在于:无法持久化存储登录状态-->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.communityUser.getUsername()}"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">项目1</a></li>
                            <li><a href="#">项目2</a></li>
                            <li><a href="#">项目3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>


<!--↑标签栏，↓本体-->


    <!--.container-fluid：按照百分比定义宽度；.container：固定宽度-->
<div class="container-fluid mainCss">
    <div class="row">
        <form method="post" action="/questionSubmit">
            <div class="col-xs-8 col-md-8">
                <div>

                    <h3><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;<strong>发起</strong></span></h3>
                </div>
                <hr>
                <div>
                    <h4>
                        <strong>问题标题</strong><br>
                    </h4>
                                                                                <!--name用于参数传回后端@RequestParam-->
                    <input type="text" class="form-control" placeholder="你的问题..." th:value="title" name="title">
                </div><br>
                <div>
                    <textarea class="form-control" rows="6" placeholder="问题描述..." th:value="description" name="description"></textarea><br>
                </div>


                <div>
                    <button type="button" class="btn btn-default">上传附件</button>
                    <font size="1px" color="#a9a9a9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;允许格式：....</font>
                </div><br>


                <div>
                    <div><strong>&nbsp;添加标签</strong></div>
                    <input type="text" class="form-control" placeholder="标签..." th:value="tag" id="tag" name="tag">


                </div><br>

                <button type="submit" class="btn btn-info" href="/questionSubmit">提交</button>
            </div>
        </form>

        <div class="col-xs-4 col-md-4"> <!--style="background:burlywood; color:#FFF"--><br><br><br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><strong>&nbsp;问题发起指南</strong></h4>

                    <ul class="list-group">

                        <div class="alert alert-info" role="alert">
                            <strong>问题标题：</strong><br>
                            请用精简的语言描述您发布的问题，不超过25字
                        </div>

                        <div class="alert alert-info" role="alert">
                            <strong>问题补充：</strong><br>
                            详细补充您的问题内容，并确保问题描述清晰直观,并提供一些相关的资料
                            <ul>
                                <li >服务器运行环境信息</li>
                                <li>软件版本</li>
                                <li>问题发生的上下文信息</li>
                                <li>可以完整复现问题的代码(如可直接运行于Kibana Console的复现流程)</li>
                                <li>注意阅读楼式友好，代码和异常信息请用代码标签格式化张贴</li>
                            </ul>
                        </div>
                        <div class="alert alert-info" role="alert">
                            <strong>选择标签：</strong><br>
                            选择一个或者多个合适的标签,不超过10个字<br><br>
                            <strong>关于积分：</strong><br>
                            发起一个问题会消耗您20个积分,每多一个回复你将获得5个积分的奖励,为了您的利益,在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能
                        </div>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>


</body>
</html>