<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>问题</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/myCss.css">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>



</head>

<body>
<div th:insert="~{navBar::navBar}"></div>


<div class="container-fluid mainCss">
    <div class="row">
        <div class="col-md-8" >
            <!--问题展示区-->
            <div>
                <h3><span class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;<strong>问题</strong></span></h3>
            </div>
            <hr>
            <h3>
                <div th:text="${session.question.getTitle()}"></div>

            </h3>
            <div>
                <span>作者:</span>
                <span th:text="${session.question.getAuthor_name()}"></span>
                <span>&nbsp;创建时间:</span>
                <span th:text="${session.question.getGmt_create()}"></span>
                <span th:if="${session.question.getView_count() != null}">  <!--当阅读数为0时不显示-->
                    <span th:text="${'&nbsp;&nbsp;阅读数：'+session.question.getView_count()}"></span>
                </span>

            </div><br>
            <div th:text="${session.question.getDescription()}"></div><br>
            <!--显示图片-->
            <div th:if="${session.imgAddr != null}">
                <img th:src="'/upload/'+${session.imgAddr}" width="350" class="img-thumbnail "/>
            </div>
            <!--显示tag-->
<!--            <div class="label label-info middle-font-size" th:text="${session.question.getTag()}"></div>-->

            <!--th:if的用法，如果单独使用th：text会出现空指针报错-->
            <div>
                <span th:if="${session.communityUser != null}"><br>
                    <!--实际页面还是会留有span标签，考虑使用hidden-->
                    <a  th:href="'/profile/questionEdit/'+${session.question.getId()}" th:text="${(session.question.getAuthor_user_id()) == (session.communityUser.getId()) ? '编辑':''}"></a>
                </span>
                <span th:if="${session.communityUser != null}">
                    <a  href="#" th:text="${(session.question.getAuthor_user_id()) == (session.communityUser.getId()) ? '删除问题（功能未开放）':''}"></a>
                </span>
            </div>

            <br>

            <!--回复区-->
            <div class="container-fluid">
                <div class="col-md-9">
                    <div>
                        <h4><span class="glyphicon glyphicon-edit" aria-hidden="true">&nbsp;回复</span></h4>
                    </div>
                    <div th:if="${session.communityUser == null}">
                        <p class="after_login_show"><a href="/login">登陆</a>后可回复</p>
                    </div>
                    <div th:if="${session.communityUser != null}">
                        <form method="post" action="/profile/replySubmit">
                            <div>
                                <input class="hidden" name="parent_id" th:value="${session.question.getId()}">
                                <input class="hidden" name="critic_id" th:value="${session.communityUser.getId()}">
                                <textarea class="form-control" name="reply_description" style="resize:none" cols="40" rows="5" th:placeholder="'回复...（500字以内）'"></textarea><br>
                                <button type="submit" class="btn btn-info" href="/profile/replySubmit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <!--回复展示区-->
            <div>
                <div th:if="${session.replyList != null && session.replyList.size() > 0}">
                    <div th:each="reply:${session.replyList}">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1568358265559&di=9f40135df059d7e6cc3a8f9d1b9a4d2a&imgtype=0&src=http%3A%2F%2Fku.90sjimg.com%2Felement_origin_min_pic%2F01%2F37%2F41%2F87573c4bdacf52b.jpg" width="20px"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div >
                                        <strong><p class="media-heading nobr" th:text="${reply.getUsername()}+'：'"></p></strong>
                                        <p class="nobr" th:text="${reply.getReply_description()+'&nbsp;&nbsp;'}"></p>
                                        <p class="nobr grey_font" th:text="${'('+reply.getGmt_reply_create()+')'}"></p>
                                        <div class="nobr" th:if="${session.communityUser != null}">
                                            <div class="nobr" th:if="${reply.getCritic_id()==session.communityUser.getId()}">&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a class="nobr attachmentFont" th:href="'/profile/delReply/'+${reply.getParent_id()}+'/'+${reply.getReply_id()}">删除回复</a>
                                            </div>
                                        </div>

<!--                                        <div th:if="${session.communityUser != null}" >-->
<!--                                            <p th:if="${reply.getCritic_id()==session.communityUser.getId()}"><a style="font-size: 80%" th:href="'/profile/delReply/'+${reply.getParent_id()}+'/'+${reply.getReply_id()}">&nbsp;&nbsp;&nbsp;&nbsp;删除</a></p>-->
<!--                                        </div>-->
<!--                                        <div th:if="${session.communityUser == null}" ></div>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 left-border"> <!--style="background:burlywood; color:#FFF"-->
            <h3>热门话题</h3>
            <ul class="list-group">
                <li class="list-group-item">后续添加功能</li>
                <li class="list-group-item">后续添加功能</li>
                <li class="list-group-item">后续添加功能</li>
                <li class="list-group-item">后续添加功能</li>
            </ul>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">后续添加功能</li>
                <li class="list-group-item">后续添加功能</li>
                <li class="list-group-item">后续添加功能</li>
                <li class="list-group-item">后续添加功能</li>
            </ul>
        </div>
    </div>
</div>







</body>
</html>

