<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>搜索</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--自定义css样式-->
    <link rel="stylesheet" href="../static/css/myCss.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    </head>
<body>
<!--使用thymeleaf的引入-->
<div th:insert="~{navBar::navBar}"></div>

<div class="container-fluid mainCss">
    <div class="row">
        <div class="col-md-8">
            <div>
                <h3><span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;<strong>搜索</strong></span></h3>
            </div>
            <hr>
            <div th:each="issue:${issueList}">
                <div class="media">
                    <div class="media-left">
                        <div href="#">
                            <img class="media-object img-rounded" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1567583816161&di=8c53bfd9bb1e181cf575ae6c5d5011c7&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F4acb627553501c1cd21df96581c8cf09817bab945438-jleZ6L_fw658"  width="50px">
                        </div>
                    </div>
                    <div class="media-body">
                        <a th:href="${'/publish/issue/'}+${issue.getId()}">
                            <h4 class="media-heading" th:text="${issue.getTitle()}"></h4>

                        </a>
                        <div>
                            <span>作者:</span>
                            <span th:text="${issue.getAuthor_name()}"></span>
                            <span>&nbsp;创建时间:</span>
                            <span th:text="${issue.getGmt_create()}"></span>
                            <span>&nbsp;阅读数:</span>
                            <span th:text="${issue.getView_count()}"></span>
                        </div>
                        <div id="mediaBody" th:text="${issue.getDescription()}"></div>
                        <hr>
                    </div>
                </div>
            </div>

            <!--分页-->
            <nav aria-label="Page navigation" class="navbar-right right-push">
                <ul class="pagination">
                    <li>
                        <a th:href="@{'search?keyword='+${keyword}+'&page='+${1}}">
                            <span aria-hidden="true">TOP</span>
                        </a>
                    </li>
                    <li>        <!--使用二元+th：href，决定分页逻辑-->
                        <a th:href="@{'search?keyword='+${keyword}+'&page='+${(page)-1 >=1 ? (page)-1:1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:class="${(page)-4 >= 1 ? '':'hidden'} "><a th:href="@{'search?keyword='+${keyword}+'&page='+${(page)-4}}" th:text="${(page)-4}"></a></li>
                    <li th:class="${(page)-3 >= 1 ? '':'hidden'} "><a th:href="@{'search?keyword='+${keyword}+'&page='+${(page)-3}}" th:text="${(page)-3}"></a></li>
                    <li th:class="${(page)-2 >= 1 ? '':'hidden'} "><a th:href="@{'search?keyword='+${keyword}+'&page='+${(page)-2}}" th:text="${(page)-2}"></a></li>
                    <li th:class="${(page)-1 >= 1 ? '':'hidden'}"><a th:href="@{'search?keyword='+${keyword}+'&page='+${(page)-1}}" th:text="${(page)-1}"></a></li>
                    <li th:class="'active'"><a th:href="@{'search?keyword='+${keyword}+'&page='+${page}}" th:text="${page}"></a></li>
                    <li th:class="${(page)+1 <= maxPage ? '':'hidden'}"><a th:href="@{'search?keyword='+${keyword}+'&page='+${page+1}}" th:text="${page+1}"></a></li>
                    <li th:class="${(page)+2 <= maxPage ? '':'hidden'}"><a th:href="@{'search?keyword='+${keyword}+'&page='+${page+2}}" th:text="${page+2}"></a></li>
                    <li th:class="${(page)+3 <= maxPage ? '':'hidden'}"><a th:href="@{'search?keyword='+${keyword}+'&page='+${page+3}}" th:text="${page+3}"></a></li>
                    <li th:class="${(page)+4 <= maxPage ? '':'hidden'}"><a th:href="@{'search?keyword='+${keyword}+'&page='+${page+4}}" th:text="${page+4}"></a></li>

                    <li >
                        <a th:href="@{'search??keyword='+${keyword}+'&page='+${(page)+1 <= maxPage ? (page)+1:(maxPage)}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'search?keyword='+${keyword}+'&page='+${maxPage}}">
                            <span aria-hidden="true">END</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>

<!--右边部分-->

    </div>
</div>

</body>
</html>
