<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>test page</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--自定义css样式-->
    <link rel="stylesheet" href="../static/css/myCss.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <!--当script在head标签内时，会默认先加载，但当sc标签内存在body中的变量时并不能读取到值，可以通过读取完页面后再进行加载script标签来解决
        实现有2种解决办法：
        1.window.onload = function(){}  此方法**只会**加载一次，第二次调用后会覆盖第一次的内容
        2.$(    function(){...}  )      也被称为jq的入口函数 -->
    <!--jq入口函数的示例-->

    <form action="/fileUpload" method="post" enctype="multipart/form-data">
        上传文件：<input type="file" name="upload">
        <input type="submit">
    </form>


</head>

<body>
<div th:insert="~{navBar::navBar}"></div>




<script>






</script>
</body>

</html>
